In [1]:
import numpy as np
import pandas as pd

In [2]:
pd = pd.read_csv('./m9-pca.csv')
pd

  Point    x    y    z
0     A  2.5  2.4  3.5
1     B  0.5  0.7  1.5
2     C  2.2  2.9  3.7
3     D  1.9  2.2  3.0
4     E  3.1  3.0  4.0
5     F  2.3  2.7  3.2
6     G  2.0  1.6  2.7
7     H  1.0  1.1  1.9
8     I  1.5  1.6  2.5
9     J  1.1  0.9  2.0

In [3]:
n = pd.shape[0]
print(f"n = {n}")
mean = pd[['x', 'y', 'z']].mean()
print(f"mean\n{mean}")

n = 10
mean
x    1.81
y    1.91
z    2.80
dtype: float64

In [4]:
pd['cx'] = pd.x - mean.x
pd['cy'] = pd.y - mean.y
pd['cz'] = pd.z - mean.z
pd

  Point    x    y    z    cx    cy   cz
0     A  2.5  2.4  3.5  0.69  0.49  0.7
1     B  0.5  0.7  1.5 -1.31 -1.21 -1.3
2     C  2.2  2.9  3.7  0.39  0.99  0.9
3     D  1.9  2.2  3.0  0.09  0.29  0.2
4     E  3.1  3.0  4.0  1.29  1.09  1.2
5     F  2.3  2.7  3.2  0.49  0.79  0.4
6     G  2.0  1.6  2.7  0.19 -0.31 -0.1
7     H  1.0  1.1  1.9 -0.81 -0.81 -0.9
8     I  1.5  1.6  2.5 -0.31 -0.31 -0.3
9     J  1.1  0.9  2.0 -0.71 -1.01 -0.8

In [5]:
BT = pd[['cx', 'cy', 'cz']].to_numpy()
B = BT.T
S = np.matmul(B, BT) / (n - 1)
S

array([[0.61655556, 0.61544444, 0.63      ],
       [0.61544444, 0.71655556, 0.68333333],
       [0.63      , 0.68333333, 0.68666667]])

In [6]:
eigenvalues, eigenvectors = np.linalg.eig(S)
print(f"Eigenvalues = {eigenvalues}")
print(f"Eigenvectors\n{eigenvectors}")

Eigenvalues = [1.96159229 0.04908344 0.00910205]
Eigenvectors
[[-0.54775637 -0.73559796 -0.3985707 ]
 [-0.5940851   0.67741787 -0.43378327]
 [-0.589089    0.00082264  0.80806774]]

In [7]:
v1 = eigenvectors[0]
v2 = eigenvectors[1]
VT = np.vstack((v1, v2))
V = VT.T
V

array([[-0.54775637, -0.5940851 ],
       [-0.73559796,  0.67741787],
       [-0.3985707 , -0.43378327]])

In [8]:
VTV = np.matmul(VT, V)
VTV.shape

(2, 2)

In [9]:
IV = np.matmul(np.linalg.inv(VTV), VT)
IV.shape

(2, 3)

In [10]:
P = np.matmul(V, IV)
P.shape

(3, 3)

In [11]:
P

array([[ 6.52974147e-01,  4.84609543e-04,  4.76023818e-01],
       [ 4.84609543e-04,  9.99999323e-01, -6.64750717e-04],
       [ 4.76023818e-01, -6.64750717e-04,  3.47026530e-01]])

In [15]:
XT = pd[['cx', 'cy', 'cz']].to_numpy().T
U = np.matmul(P, XT)
U.shape

(3, 10)

In [17]:
U.T

array([[ 0.78400629,  0.48986872,  0.57104928],
       [-1.47481347, -1.20976984, -1.07392134],
       [ 0.68356112,  0.98959005,  0.49731506],
       [ 0.15411297,  0.28991047,  0.11205467],
       [ 1.41409346,  1.08982671,  1.02977798],
       [ 0.5107497 ,  0.78997102,  0.37153713],
       [ 0.07631248, -0.30984124,  0.05594795],
       [-0.95772303, -0.80979371, -0.69736472],
       [-0.34537936, -0.30995059, -0.25146927],
       [-0.84492015, -1.00981159, -0.61492674]])